*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.idea/

.DS_Store
/build
/captures
.externalNativeBuild
Будет удалено .idea/
Будет удалено gradle/
Будет удалено gradlew
Будет удалено gradlew.bat
